.doctors{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
    
   
}
.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex: 1;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.801);
    cursor: pointer;
    opacity: 0;
    animation-name: appear;
    animation-duration: 0.9s;
    animation-fill-mode: forwards; /* L'animazione mantiene l'ultimo stato */
    transition: all .3s ease-in-out;
  
    .contacts{
        margin-bottom: 40px;
       
    }
     &:hover img{
        filter: brightness(100%) ;
        transform: scale(1.02);
    }

}
.card:hover{
   outline: 1px white solid;
    background: rgba(0, 0, 0, 0.623);
    

}
.specialisation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;
    span{
        font-size: 40px;
        margin-bottom: 0;
    }
}
.docpic{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    img{
        width: 100%;
        object-fit: cover;
        filter: brightness(80%) ;
        transition: all .3s ease-in-out;
}


}
.bio{
    padding:25px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 20px;
    .title{
        font-size: 26px;
        font-weight: 600;
        text-shadow: 5px 5px 10px black;
    }
}
.phone_number{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.socials{
    text-decoration: none;
    font-size: 19px;
    
    .website{
        color: white;
        margin-right: 20px;
        &:hover{
          filter: brightness(80%);
        }
        
    }
    .linkedin{
        color:#00a0dc;
        &:hover{
          filter: brightness(80%);
        }
        
        
    }
    
}
//card buttons

.callme{
    background: #1c5d99;
    border:  1px solid black;
    padding:20px 40px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
    transition: all .2s ease-in-out;
    font-family: 'Roboto', sans-serif;
    color: white;
   
    &:hover{
        background: #1c5d99;

    }
}

//transizione cards 

  
  /* Definizione dell'animazione */
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px); /* Partenza con una traslazione verso il basso */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Arrivo senza traslazione */
    }
  }
  
 
  .appearable:nth-child(1) {
    animation-delay: .4s;
  }
  .appearable:nth-child(2) {
    animation-delay: .6s;
  }
  .appearable:nth-child(3) {
    animation-delay: .8s;
  }
  
  .appearable:nth-child(4) {
    animation-delay: 1s;
  }
  .appearable{
    transition:all .3s ease-in-out;
  }