.map{
    background-color:whitesmoke;
    z-index: 9;
    width: 100%;
    padding: 40px 0;
    position: relative;
}
.map_container{
    margin: 0 auto;
    width: 95%;

}
footer{
    background-color:rgb(12, 12, 12);
    height: 100px;
    text-align: center;
    small{
        font-size: 15px;
        color: grey;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 30px;
    }
    
}