html {
    scroll-behavior: smooth;
  }
 body{
   
    color: whitesmoke;
   
}
.wrapper{
    width: 100%;
    height: 100%;
    background: rgb(187,205,229);
background: linear-gradient(0deg, rgba(187,205,229,1) 76%, rgba(187,205,229,0.4234068627450981) 94%);
  
   padding-bottom: 40px;
}

.wrapper_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
a{
    text-decoration: none;
}
