html {
    scroll-behavior: smooth;
  }
 body{
   
    color: whitesmoke;
   
}
.wrapper{
    width: 100%;
    height: 100%;
    background: rgb(187,205,229);
    background: rgb(187,205,229);
    background: rgb(78,104,168);
    background: rgb(78,104,168);
    background: linear-gradient(0deg, rgba(78,104,168,0.01) 0%, rgba(78,104,168,1) 90%);
    padding-bottom: 40px;
}

.wrapper_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
a{
    text-decoration: none;
}
