  
  .loader  {
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background: rgb(125,125,152);
  background: radial-gradient(circle, rgba(125,125,152,1) 9%, rgba(209,209,214,1) 13%, rgba(230,230,230,1) 14%, rgba(104,104,136,1) 20%, rgba(209,209,214,1) 23%, rgba(230,230,230,1) 29%, rgba(196,196,205,1) 31%, rgba(172,172,187,1) 38%, rgba(96,96,129,1) 42%, rgba(110,110,140,1) 47%, rgba(48,48,92,1) 56%, rgba(100,100,132,1) 71%, rgba(14,14,66,1) 94%);
    background-size: 200% 200%;
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 8s ease infinite;
    z-index: 45;
    transition: all .2s ease-in-out;
   
    &.fade{
      opacity: 0;
      
    }
  
 
    
  }

  
  .loader_content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
//animation loader 

@-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

//   fine animazione

.logo {
  width:200px;
  fill: rgb(0, 0, 0);
  stroke-dasharray: 30px;
  /*<-- Play with this number until it look cool */
  stroke: rgb(25, 121, 38);
  animation: load 1s infinite linear;
  transition: all 2s ease-in-out;
  

}

.logo1 {
 
  animation: load 8s infinite linear, logoleft 1s ease-in-out 1s ;
  animation-fill-mode: forwards;
}

.logo2 {
  
  animation: load 8s infinite linear, logoright 1s ease-in-out 1s;
  animation-fill-mode: forwards;
  stroke:rgb(25, 121, 38);
  
}

@keyframes load {
  0% {
    stroke-dashoffset: 0px;
  }

  100% {
    stroke-dashoffset: 200px;
    /* <-- This number should always be 10 times the number up there*/
  }
}


@keyframes logoleft {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity:1 ;
    transform: translateY(-40%);
  }
}

@keyframes logoright {
  0% {
 opacity:0 ;
    transform: translateY(0);
  }
  100% {
   opacity: 1;
    transform: translatey(80%);
  }
}



.writing_loader{
  font-size: 45px;
  opacity: 0;
  animation: writing .6s linear 2s;
  white-space: nowrap;
  color: rgb(226, 34, 34);
  font-weight: 800;
  animation-fill-mode:forwards;
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  text-shadow: 0px 1px 6px #000000;

}
@keyframes writing {
  0%{
  
  opacity: 0;
   
  }  
  100%{
    opacity: 1;
    
   
 
   }
  
}

