


//logo


.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    .logo{
        width:50%;
        height: 300px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        @media screen and (max-width:1000px) {
          width: 90%;
          
        }
       

        
        img{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
}
    }
    h5{
        font-family: 'Ysabeau', sans-serif;
        margin:0;
        font-size: 50px;
        margin-bottom: 100px;
        margin-top: 0;
        font-weight: 500;
        font-style: italic;
        letter-spacing: 3px;

    }

}
//   spine animation

  .spine{
    position: fixed;
    left: -20%;
    top: -85%;
    width: 100%;
  }
  .spinepic{
    width: 100%;
    transform: rotate(-90deg);
  }

