


//logo


.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .logo{
        min-width: 400px;
        height: 350px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        
        img{
            overflow: hidden;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
    }
    h5{
        font-family: 'Quicksand', sans-serif;
        margin:0;
        font-size: 50px;
        margin-bottom: 100px;
        margin-top: 0;
        font-weight: 100;

    }

}

//card buttons

.callme{
    background: rgba(255, 0, 0, 0.63);
    border:  1px solid black;
    padding:20px 40px;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 10px;
}

//transizione cards 

  
  /* Definizione dell'animazione */
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px); /* Partenza con una traslazione verso il basso */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Arrivo senza traslazione */
    }
  }
  
 
  .appearable:nth-child(1) {
    animation-delay: 0.4s;
  }
  .appearable:nth-child(2) {
    animation-delay: 0.6s;
  }
  .appearable:nth-child(3) {
    animation-delay: 0.8s;
  }
  
  .appearable:nth-child(4) {
    animation-delay: 1s;
  }
  .appearable{
    transition:all .3s ease-in-out;
  }

//   spine animation

  .spine{
    position: fixed;
    left: 20%;
    top: -50%;
  }
.spinepic{
    
    width: 100%;
    transform: rotate(-90deg);
    object-fit: cover;
 
   }

